doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Social | Log in
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.7
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='/bower_components/Ionicons/css/ionicons.min.css')
    // admin-lte Theme style
    link(rel='stylesheet', href='/dist/css/AdminLTE.css')
    // custom css
    link(rel='stylesheet', href='/dist/css/styles.css')
    // Google Font
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900')

  body.hold-transition.login-page
    !=messages('message', locals)
    if errors
      .message
        div(class = 'alert alert-dismissible alert-danger')
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          h4 Error!
            i.icon.fa.fa-warning
            |  #{error.msg}
    #callout.message.callout.callout-info(style = 'display: none')
      h4
        i.icon.fa.fa-info-circle
        |  Forgot Password!
      p Unfortunately at this stage the only way to recover a lost password is by contacting the Administrator.

    .login-box.flex-container
      .login-logo
          b #{title}
          | Login
      .login-box-body
        p.login-box-msg Sign in to start your session
        form(action='/auth/login', method='POST')
          .form-group.has-feedback
            input.form-control(type='number', placeholder='Registration No.' name='reg')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password' name='password')
            span.glyphicon.glyphicon-lock.form-control-feedback
          button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
        br
        a(href="#" onclick="toggleVisibility('callout');") Forgot Password
        br
        a.text-center(href='/auth/register') Register

      <!--The calendar -->
      <div id="calendar" style="width: 100%"><div class="datepicker datepicker-inline"><div class="datepicker-days" style=""><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">December 2017</th><th class="next">»</th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="old day" data-date="1511654400000">26</td><td class="old day" data-date="1511740800000">27</td><td class="old day" data-date="1511827200000">28</td><td class="old day" data-date="1511913600000">29</td><td class="old day" data-date="1512000000000">30</td><td class="day" data-date="1512086400000">1</td><td class="day" data-date="1512172800000">2</td></tr><tr><td class="day" data-date="1512259200000">3</td><td class="day" data-date="1512345600000">4</td><td class="day" data-date="1512432000000">5</td><td class="day" data-date="1512518400000">6</td><td class="day" data-date="1512604800000">7</td><td class="day" data-date="1512691200000">8</td><td class="day" data-date="1512777600000">9</td></tr><tr><td class="day" data-date="1512864000000">10</td><td class="active day" data-date="1512950400000">11</td><td class="day" data-date="1513036800000">12</td><td class="day" data-date="1513123200000">13</td><td class="day" data-date="1513209600000">14</td><td class="day" data-date="1513296000000">15</td><td class="day" data-date="1513382400000">16</td></tr><tr><td class="day" data-date="1513468800000">17</td><td class="day" data-date="1513555200000">18</td><td class="day" data-date="1513641600000">19</td><td class="day" data-date="1513728000000">20</td><td class="day" data-date="1513814400000">21</td><td class="day" data-date="1513900800000">22</td><td class="day" data-date="1513987200000">23</td></tr><tr><td class="day" data-date="1514073600000">24</td><td class="day" data-date="1514160000000">25</td><td class="day" data-date="1514246400000">26</td><td class="day" data-date="1514332800000">27</td><td class="day" data-date="1514419200000">28</td><td class="day" data-date="1514505600000">29</td><td class="day" data-date="1514592000000">30</td></tr><tr><td class="day" data-date="1514678400000">31</td><td class="new day" data-date="1514764800000">1</td><td class="new day" data-date="1514851200000">2</td><td class="new day" data-date="1514937600000">3</td><td class="new day" data-date="1515024000000">4</td><td class="new day" data-date="1515110400000">5</td><td class="new day" data-date="1515196800000">6</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2017</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month focused active">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2010-2019</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year active focused">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2000-2090</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span class="decade active focused">2010</span><span class="decade">2020</span><span class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span class="decade">2090</span><span class="decade new">2100</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-centuries" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2000-2900</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="century old">1900</span><span class="century active focused">2000</span><span class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span class="century new">3000</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div></div></div>
      </div>

    // jQuery 3
    script(src='/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap 3.3.7
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Custom js
    script(src='/dist/js/index.js')
    script(src='/dist/js/AdminLTE.js')
