doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Social | Log in
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.7
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='/bower_components/Ionicons/css/ionicons.min.css')
    // admin-lte Theme style
    link(rel='stylesheet', href='/dist/css/AdminLTE.css')
    // custom css
    link(rel='stylesheet', href='/dist/css/styles.css')
    // Google Font
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900')

  body.hold-transition.login-page
    !=messages('message', locals)
    if errors
      .message
        div(class = 'alert alert-dismissible alert-danger')
          button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
          h4 Error!
            i.icon.fa.fa-warning
            |  #{error.msg}
    #callout.message.callout.callout-info(style = 'display: none')
      h4
        i.icon.fa.fa-info-circle
        |  Forgot Password!
      p Unfortunately at this stage the only way to recover a lost password is by contacting the Administrator.

    .login-box.flex-container
      .login-logo
          b #{title}
          | Login
      .login-box-body
        p.login-box-msg Sign in to start your session
        form(action='/auth/login', method='POST')
          .form-group.has-feedback
            input.form-control(type='number', placeholder='Registration No.' name='reg')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password' name='password')
            span.glyphicon.glyphicon-lock.form-control-feedback
          button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
        br
        a(href="#" onclick="toggleVisibility('callout');") Forgot Password
        br
        a.text-center(href='/auth/register') Register

    // jQuery 3
    script(src='/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap 3.3.7
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Custom js
    script(src='/dist/js/index.js')
    script(src='/dist/js/AdminLTE.js')
